@font-face {
    font-family: Agrandir-GrandLight;
    src: url("../fonts/PPAgrandir-GrandLight.otf") format("opentype");
}
@font-face {
    font-family: Agrandir-WideBlackItalic;
    src: url("../fonts/PPAgrandir-WideBlackItalic.otf") format("opentype");
}
@font-face {
    font-family: Agrandir-WideLight;
    src: url("../fonts/PPAgrandir-WideLight.otf") format("opentype");
}
@font-face {
    font-family: Agrandir;
    src: url("../fonts/PPAgrandir-Regular.otf") format("opentype");
}
#date {
    
    background-color: #930505;
    background-color: #f3afaf;
    background-color: #ffdcdc;
    background-color: #355ebb;
   
    background-size: cover;
    background-position: center;
    background-image: url("../ivyHall.png");
   
    text-align: center;
    min-height: 400px;

}

#confirmation {
    display:none;
}
a {
    color: #14caa6;
}

#dateText {
    position: relative;
    top: 50px;
}

#story {
    background-color: #d80505;
    background-color: #f3afaf;
    background-color: #ffdcdc;
    background-color: #6168eb;
    background-color: #14caa6;
    background-color: rgb(245, 41, 42);
    min-height: 200px;
    text-align: center;
}

#photos {
    background-color: #d80505;
    background-color: #e5b8aa;
    background-color: #930505;
    background-color: #355ebb;
    
    min-height: calc(420px + 20vw);
    text-align: center;
}

#registry, #faq, #rsvp {
    background-color: white;
    color:black;
    color: #8186dd;
    color: #355ebb;
    min-height: 150px;
    text-align: center;
    padding: 5vw;
}

#accomdations {
    background-color:#1eafa0;
    color:white;
    min-height: 150px;
    text-align: center;
    padding: 10vw;
    
}


 h2 {
    font-size: min(20px,4vw);
 }

 p, input, select, button, form {
    font-size: min(20px,3.5vw);
    text-align: justify;
    
 }

 button {
    background-color: #355ebb;
    color: white;
    border: none;
    padding: 5px;
 }

 select {
    color:#424242;
 }

 input {
    width: 100%;
 }
 select {
    max-width: 100%;
 }

 #addGuests, #addGuests1, #addGuests2, #addGuests3, #addGuests4 {
    display: none;
    
 }
#faq img, #rsvp img, #registry img {
    width: 80vw;
    margin: 5vw;
    vertical-align: middle;
}

h1 {
    margin: 0px;
    text-decoration: none;
    font-weight: 400;
    padding-top: 4vw;
    font-size: min(30px,6vw);
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    font-family: 'Agrandir', sans-serif;
    scroll-behavior: smooth;
color: white;
font-size: min(20px,4vw);
}
html {
    scroll-behavior: smooth;

}
#menubar {
    position: sticky;
    top: 0px;
    background-color: #4240ad;
    background-color: #6168eb;
    background-color: #d80505;
    background-color: rgb(254, 67, 66);
    background-color: rgb(245, 41, 42);

    width: 100%;
    text-align: center;
    display: inline-flex;
    justify-content: space-around;
    z-index: 1;
    height: min(6vw,55px);
}

#menubar a {
    background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
    color: white;
    
   /* width: 22%;*/
    padding: 0px;
    font-family: 'Comfortaa', cursive;
    font-family: 'Jost', sans-serif;
    font-family: 'Lexend', sans-serif;
  
    font-family: 'Quicksand', sans-serif;
    font-family: 'Rouge Script', cursive;
    font-family: 'Urbanist', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Agrandir', sans-serif;
    text-decoration: none;
    display: inline-block;
    font-size: min(4vw,35px);
    height: 6vw;
}

#menubar a:hover {
color: #6168eb;
color: #345fbf;
}

#photocontainer{
    height:400px;
    text-align: left;
    width: 100%;
overflow-x: scroll;
overflow-y: hidden;

}

#inner {
height: 400px;
width: 14300px;
}

#inner img {
    height:400px;
    display: inline;
}


#website {
    position: relative;
    top: -10px;
    
}

#story p {
    width: 75%;
    margin-left: 7.5%;
    padding: 5vw;
 font-size: 16px;   
 text-align: justify;
 background-color: rgba(0,0,0,0.2);
 font-family: 'Poppins';
}